# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Python Test Cache
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/